DB_HOST=localhost
DB_NAME=PharmaTrust
DB_USER=root
DB_PASS=

JWT_SECRET=YOUR_JWT_SECRET_KEY

PAYSTACK_PUBLIC_KEY=YOUR_PAYSTACK_PUBLIC_KEY
PAYSTACK_SECRET_KEY=YOUR_PAYSTACK_SECRET_KEY

MAIL_USERNAME=YOUR_GMAIL_ADDRESS
MAIL_PASSWORD=YOUR_GMAIL_APP_PASSWORD
